@model Library.Models.Entities.BookList
<h2 class="sub-header">Result</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name
                    <span class="order" id="BN">
                        @*@Html.Label("lblBN", (string)@ViewBag.Order.Substring(2, 1), new { Class="hide"})*@
                        <span class="caret" style="margin: 10px 5px;"></span>
                    </span>
                </th>
                <th>Author
                    <span class="order" id="AN">
                        @*@Html.Label("lblAN", (string)@ViewBag.Order.Substring(1,1), new { Class = "hide" })*@
                        <span class="caret" style="margin: 10px 5px;"></span>
                    </span>
                </th>
                <th>Category
                    <span class="order" id="CA">
                        @*@Html.Label("lblC", (string)@ViewBag.Order.Substring(0, 1), new { Class = "hide" })*@
                        <span class="caret" style="margin: 10px 5px;"></span>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Books.Count; index++)
            {
                <tr>
                    <td>@Model.Books[index].Id </td>
                    <td>@Model.Books[index].Name </td>
                    <td>@Model.Books[index].AuthorName </td>
                    <td>@Model.Books[index].CategoryName </td>
                </tr>
            }
        </tbody>
    </table>
</div>
